$order-report-background: #2b2b2b;
$table-background: #323232;
$primary-color: #4b9cdb;
$secondary-color: #6772e5;
$completed-color: #2ecc71;
$preparing-color: #3498db;
$pending-color: #e67e22;
$font-color: #ffffff;

.order-report-container {
    background-color: $order-report-background;
    color: $font-color;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #1F1D2B;

    .order-report-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h1 {
            font-family: "Barlow", sans-serif;
            font-weight: 600;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 8px;
        overflow: hidden;

        th {
            padding: 15px;
            text-align: left;
            font-family: "Barlow", sans-serif;
            font-weight: 600;
        }

        td {
            padding: 15px;
            text-align: left;
        }

        thead {
            th {
                font-weight: 600;
            }
        }

        tbody {
            tr {
                border: none;

                td {
                    vertical-align: middle;
                    font-family: "Barlow", sans-serif;
                    font-weight: 200;

                    .status {
                        padding: 5px 10px;
                        border-radius: 16px;
                        color: $font-color;
                        font-weight: 600;
                        text-align: center;
                        font-family: "Barlow", sans-serif;
                        font-weight: 200;

                        .status-opacitylow {
                            opacity: 1;
                        }


                        &.completed {
                            background-color: #6BE2BE3D;
                            font-family: "Barlow", sans-serif;
                        }

                        &.preparing {
                            background-color: #9290FE33;
                            font-family: "Barlow", sans-serif;
                        }

                        &.pending {
                            background-color: #FFB57233;
                            font-family: "Barlow", sans-serif;
                        }
                    }
                }
            }
        }
    }

    .filter-order-btn {
        background: none;
        font-family: "Barlow", sans-serif;
        border: 1px solid rgb(141, 141, 141);
        border-radius: 4px;
        color: $font-color;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
            position: relative;
            top: 2px;
            left: 15px;
            margin-right: 9px;
        }

        &:hover {
            background-color: darken(rgb(141, 141, 141), 10%);
        }

        &:active {
            background-color: darken(rgb(141, 141, 141), 20%);
        }
    }
}

.customer-info {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.border-line-order-report {
    border-bottom: 2px solid #585858;
}

.filter-select {
    background-color: #1F1D2B;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    -webkit-appearance: none;
    /* Chrome, Safari, Opera için */
    -moz-appearance: none;
    /* Firefox için */
    appearance: none;
    /* Standart özellik */
    border-radius: 5px;

}

.filter-select:focus {
    outline: none;
}

.filter-select:active {
    background-color: #37334d;

}