.tabs-wrapper {
  border-bottom: 2px solid #464a5b;
  margin: 30px 0;

  .tab {
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 18px 20px;
    color: #fff;
    transition:background-color 0.6s ease, transform 0.5s ease;
    font-family: "Barlow", sans-serif;
    font-weight: 600;

    &:hover {
      border-bottom: 2px solid #ff5500;
      color: #ff5500;
    }
  }

  .active-tab {
    border-bottom: 2px solid #ff5500;
    color: #ff5500;
  }
}