$primary-bg: #393C49;
$secondary-bg: #1F1D2B;
$accent-color: #EA7C69;
$primary-font-color: #fff;

$button-shadow: 0 8px 24px #eb7d6a32, 0 0 8px #EA7C69;

$linear-color: linear-gradient(
  to bottom right,
  rgba(186, 186, 251, 1),
  rgba(237, 145, 167, 1),
  rgba(241, 169, 96, 1)
);

$primary-font: "Outfit", sans-serif;
