$primary-color: #3b4389;
$primary-light: #8e94cc;
$primary-border-color: #c7cadf;
$main-black: #000000;
$Opurple-1: rgba(186, 186, 251, 0.1);
$purple-2: #dddcfd;
$primary-black: #252525;
$grey-2: #4b4b4b;
$melanzane: #353134;
$white: #ffffff;
$red: #eb4747;
$yellow-1: rgba(241, 169, 96, 0.1);
$yellow-2: #f7c86e;
$green-1: #f4fef5;
$green-2: #07daa2;
$gray-circle: #dfdfdf;
$point-yellow-inner: #ffe28f;
$point-yellow-outer: #fdbc4b;
$point-green-outer: #07daa2;
$point-green-inner: #dafef1;
$point-blue-inner: #bfe2fb;
$point-blue-outer: #289de2;
$point-white-outer: #f3f2f2;
$point-grey-inner: #e9e9e9;
$point-grey-outer: #d1d1d1;
$point-red-inner: #fdf3f6;
$point-red-outer: #893b67;
$grey: #7d7d7d;
$grey-light: #dbdbdb;
$grey-border: #a7a7a7;
$medium-grey: #857a81;
$super-light-grey: rgba(231, 228, 228, 0.2);
$light-grey-text: #9d959b;
$light-grey: #d3d3d3;
$light-grey-2: #fefefe;
$light-grey-3: #f8f2f6;
$light-grey-4: #f2f2f2;
$light-grey-5: #f5f5f5;
$bg-light-grey: #f8f8f9;
$waiting-session: #ff5500;
$completed-session: #00b300;
$canceled-session: #ff4444;
$scheduled-session: #0088cc;
$pink-1: rgba(237, 145, 167, 0.1);
$main-background: rgba(186, 186, 251, 0.5);
$linear-color: linear-gradient(
  to bottom right,
  rgba(186, 186, 251, 1),
  rgba(237, 145, 167, 1),
  rgba(241, 169, 96, 1)
);

$primary-font: "Outfit", sans-serif;
