$primary-bg: #242836; //bir
$secondary-bg: #1F1D2B;

//bu ikisi sıkıntı
$primary-font-color: #1F1D2B;
$font-color: #ABBBC2;
//bu ikisi sıkıntı üstteki

$accent-color: #EA7C69;
$font-color-white: #ffffff;
$font-color-light: #ABBBC2;
$orange-color: #ff8e42;
$black-color: #000000;
$border-color: #393C49;

$completed-color: #6BE2BE3D;
$preparing-color: #9290FE33;
$pending-color: #FFB57233;

$dashboard-divs: #1F1D2B;

$button-shadow: 0 8px 24px #eb7d6a32, 0 0 8px #EA7C69;

$primary-font: "Barlow", sans-serif;