@use "../../styles/abstracts/variables" as *;

.order-payment {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 0.5;
    margin: 0px 25px 0px 0px;
    border-radius: 15px;
    padding: 20px;
    background-color: $dashboard-divs;
    color: $font-color-white;
    height: fit-content;

    .input-type-radio[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 0;
        height: 0;
        position: absolute;
    }

    .input-type-radio[type="radio"]+label {
        cursor: pointer;
    }

    .input-type-radio[type="radio"]:checked+label::before {
        content: '\2022';
        font-size: 16px;
        color: #007bff;
        margin-right: 5px;
    }

    .payment-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        font-size: 28px;
        font-weight: 600;
        line-height: 39.2px;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .payment-explanations {
        font-size: 14px;
        font-weight: 500;
        line-height: 22.4px;
        text-align: left;
        color: $font-color-light;
        padding: 0px 0px 15px 0px;
        width: fit-content;
    }

    .payment-methods-text {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
        margin-bottom: 10px;
        width: fit-content;
        padding-top: 13px;
    }

    .payment-form-area {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .cardholder-division-for-payment {
            display: flex;
            flex-direction: column;

            .buttons-payment-area {
                display: flex;
                flex-direction: row;
                margin-top: 100px;
                gap: 20px;

                .cancel-button-payment {
                    width: 50%;
                    height: 48px;
                    padding: 0px;
                    gap: 8px;
                    border-radius: 8px;
                    background: none;
                    border: 1px solid $accent-color;
                    color: $accent-color;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 19.6px;
                    text-align: center;
                    transition: transform 0.3s ease, border-color 0.01s ease, background-color 0.3s ease;

                    &:hover {
                        border-color: $accent-color;
                        border: solid 2px;
                        transform: translateY(3px);
                        background-color: #434055;
                    }

                    &:active {
                        border: solid 2px;
                        background-color: $dashboard-divs;
                    }
                }

                .confirm-button-payment {
                    width: 50%;
                    height: 48px;
                    padding: 0px;
                    gap: 8px;
                    border-radius: 8px;
                    background: $accent-color;
                    border: 1px solid $accent-color;
                    color: #ffffff;
                    cursor: pointer;
                    box-shadow: 0px 8px 24px 0px #EA7C6966;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 19.6px;
                    text-align: center;
                    transition: all 0.3s ease;

                    &:hover {
                        background-color: #fd9f8e;
                        transform: translateY(3px);
                    }

                    &:active {
                        background-color: $accent-color;
                    }
                }
            }

            .double-form-type-payment {
                display: flex;
                gap: 20px;

                .first-double-type-payment {
                    display: flex;
                    width: 50%;
                    gap: 10px;
                    flex-direction: column;

                    #order-types {
                        width: 100%;
                        height: 48px;
                        border: 2px solid #393C49;
                        background-color: #2D303E;
                        border-radius: 8px;
                        color: $font-color-white;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19.6px;
                        text-align: left;
                        padding-left: 15px;

                        option {
                            color: $font-color-white;
                        }
                    }

                    .half-width-input {
                        width: 100%;
                        height: 48px;
                        border-radius: 8px;
                        border: 2px solid #393C49;
                        background-color: #2D303E;
                        color: $font-color-white;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19.6px;
                        text-align: left;
                        padding-left: 15px;

                        &::placeholder {
                            color: $font-color-white;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 19.6px;
                            text-align: left;
                        }
                    }
                }

                .second-double-type {
                    display: flex;
                    gap: 10px;
                }
            }

            .card-text-for-order {
                font-size: 14px;
                font-weight: 500;
                line-height: 18.2px;
                text-align: left;
                padding: 20px 0px 10px 0px;
            }

            .full-width-input-names {
                width: 100%;
                height: 48px;
                border-radius: 8px;
                padding-left: 15px;
                border: 2px solid #393C49;
                background-color: #2D303E;
                color: $font-color-white;
                margin: 10px 0px;

                &::placeholder {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.6px;
                    text-align: left;
                }
            }
        }

        .only-labels-payment-form {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .payment-photo-options {
                display: flex;
                flex-direction: column;
                width: 33%;
                height: 60px;
                justify-content: center;
                align-items: center;
                border: solid 1px #6e6e6e;
                border-radius: 10px;
                font-size: 12px;
                font-weight: 500;
                line-height: 18.2px;
                text-align: center;
                cursor: pointer;

                &.selected {
                    border-color: $font-color-white;
                }

                &::after {
                    border: solid 1px #007bff;
                }
            }
        }
    }

    .line-form {
        width: 100%;
        height: 1px;
        background-color: $font-color-white;
        margin: 20px 0px 20px 0px;
        opacity: 0.2;
    }
}

@media screen and (max-width: 950px) {
    .order-payment {
        flex: 0.47;
    }
}

@media(max-width: 585px) {
    .order-payment {
        margin: 0px 27px 0px 0px;
    }
}