@use "../../styles/abstracts/variables" as *;

.settings-bar-section {
    background-color: $secondary-bg;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.settings-bar-section-box div {
    display: flex;
    padding: 10px;

}

.settings-bar-section-box:hover {
    background: $accent-color;
    border-radius: 8px;
}


.settings-bar-section-box-writing {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-family: $primary-font;

    h2 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
        text-align: start;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: $font-color-light;
        text-align: start;
    }
}