@use "../../styles/abstracts/variables" as *;

.products-management {
    background-color: $secondary-bg;
    border-radius: 8px;
    max-width: 800px;
    margin-left: 250px;
    margin-top: 10px;
    width: 100%;
}

.products-management-title-section {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    padding: 50px;
}

.products-management-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid red;
}

.products-management-title3 {
    font-size: 20px;
    font-weight: 600;
    color: $font-color;
    font-family: $primary-font;
}

.products-management-title-box-btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    color: $font-color;
    border: 1px solid $primary-bg;
    gap: 10px;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px;
    border-radius: 8px;
}


.products-management-link-box {
    display: flex;
    margin-top: 40px;
    gap: 40px;
    font-family: $primary-font;
    font-weight: 600;
    margin-bottom: 50px;
    line-height: 19.6px;
    color: $font-color;

}

.products-management-link-box li:hover {
    color: $accent-color;
    border-bottom: 3px solid $accent-color;
    padding-bottom: 5px;
}

.products-management-button-box {
    display: flex;
    gap: 20px;
}

.products-management-button-box-btn {
    background-color: transparent;
    font-family: $primary-font;
    font-weight: 600;
    padding: 14px 28px 14px 28px;
    color: $accent-color;
    border-radius: 8px;
    border: 1px solid $accent-color;
}

.products-management-button-box-btn:hover {
    color: white;
    background-color: $accent-color;
}

.products-food-section {
    border: 2px solid red;
    display: grid;
    padding: 10px;
    margin: 10px;
}

.new-product-box {
    border: 2px dashed $accent-color;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.new-product-box-btn {
    background-color: transparent;
    border: none;
}

.new-product-box h4 {
    font-family: $primary-font;
    color: $accent-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
}