@use "../../styles/abstracts/variables" as *;

.produckts-management {
    background-color: $secondary-bg;
    margin: 10px;
    height: 60%;
}

.produckts-management-title-box {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    border: 2px solid red;
    margin: 50px;
}

.produckts-management-title3 {
    color: $font-color-white;
    font-size: 20px;
    font-weight: 600;
    width: 250px;
    border: 2px solid red;
    font-family: $primary-font;
}

.produckts-management-title-box-btn {
    background-color: transparent;
    color: $font-color-white;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    width: 200px;
    padding: 14px;
    border: 1px solid $border-color;
    border-radius: 8px;
}