.paymentConfirmation {
    background-color: #1F1D2B;
    width: 400px;
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 10px;

}

.paymentConfirmation-box {
    width: 100%;
    margin: 20px auto 20px auto;
    padding: 10px;
    font-family: "Barlow", sans-serif;
}

.paymentConfirmation-box-h2 {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    margin-bottom: 10px;

}

.paymentConfirmation-Button-Box {
    max-width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Barlow", sans-serif;

}

.paymentConfirmation-Button {
    background-color: transparent;
    color: #EA7C69;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #393C49;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.paymentConfirmation-Button:hover {
    background-color: #EA7C69;
    color: white;

}

.paymentConfirmationtitle-h3 {
    font-weight: 600;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;

}

.paymentConfirmationtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;

}

.paymentConfirmationtitle div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.food-container {
    border-top: 1px solid #393C49;
    border-bottom: 1px solid #393C49;
    padding-top: 20px;
    padding-bottom: 10px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    padding: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 300px;
    overflow-y: auto;

}

.paymentConfirmation-Subtotal {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.paymentConfirmation-Subtotal-h3 {
    color: #ABBBC2;
    font-weight: 400;
    font-size: 14px;

}

.PaymentConfirmation-Subtotal-value {
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.paymentConfirmation-button-payment {
    margin: 20px 0px 20px 0px;
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    background: #EA7C69;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
    border: none;



}