@use "../../styles/abstracts/variables" as *;

.order-report-container {
    color: $font-color;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #1F1D2B;

    .order-report-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .order-report-h1 {
            font-family: "Barlow", sans-serif;
            font-weight: 600;
        }
    }

    .order-reports-table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 8px;
        overflow: hidden;

        .order-report-th {
            padding: 15px;
            text-align: left;
            font-family: "Barlow", sans-serif;
            font-weight: 600;
        }

        .order-report-td {
            padding: 15px;
            text-align: left;
        }

        .border-line-order-report {
            border-bottom: 2px solid #585858;

        }

        .order-tbody {
            .order-body-tr {
                border: none;

                .order-report-td {
                    vertical-align: middle;
                    font-family: "Barlow", sans-serif;
                    font-weight: 200;

                    .order-status {
                        padding: 5px 10px;
                        border-radius: 16px;
                        color: $font-color;
                        font-weight: 600;
                        text-align: center;
                        font-family: "Barlow", sans-serif;
                        font-weight: 200;

                        .order-status-opacitylow {
                            opacity: 1;
                        }


                        &.completed {
                            background-color: $completed-color;
                            font-family: "Barlow", sans-serif;
                        }

                        &.preparing {
                            background-color: $preparing-color;
                            font-family: "Barlow", sans-serif;
                        }

                        &.pending {
                            background-color: $pending-color;
                            font-family: "Barlow", sans-serif;
                        }
                    }
                }
            }
        }
    }

    .filter-order-btn {
        background: none;
        font-family: "Barlow", sans-serif;
        border: 1px solid rgb(141, 141, 141);
        border-radius: 4px;
        color: $font-color;
        cursor: pointer;

        .filter-order-btn-img {
            width: 20px;
            height: 20px;
            position: relative;
            top: 2px;
            left: 15px;
            margin-right: 9px;
        }

        &:hover {
            background-color: darken(rgb(141, 141, 141), 10%);
        }

        &:active {
            background-color: darken(rgb(141, 141, 141), 20%);
        }
    }
}

.customer-info {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.filter-order-select {
    background-color: #1F1D2B;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    -webkit-appearance: none;
    /* Chrome, Safari, Opera için */
    -moz-appearance: none;
    /* Firefox için */
    appearance: none;
    /* Standart özellik */
    border-radius: 5px;

}

.filter-order-select:focus {
    outline: none;
}

.filter-order-select:active {
    background-color: #37334d;

}