body {
    display: flex;
    justify-content: center;


    input::placeholder {
        //styleName: Body / Normal - Regular ;
        font-family: "Barlow", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        text-align: left;

    }

    p {
        margin: 0;
        padding: 0;
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    hr {
        width: 100%;
        height: 1px;
    }

    .order-payment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        padding: 20px;
        background-color: #1F1D2B;
        color: #ffffff;
        font-family: "Barlow", sans-serif;

        .line-form {
            width: 100%;
            height: 1px;
            background-color: #ffffff;
            margin-top: 20px;
            margin-bottom: 20px;
            opacity: 0.2;
        }

        .payment-head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: 28px;
            font-family: "Barlow", sans-serif;
            font-weight: 600;
            line-height: 39.2px;
            text-align: left;
        }

        .payment-explanations {
            font-family: "Barlow", sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 22.4px;
            text-align: left;
            color: #ABBBC2;
            padding: 0;
        }

        .payment-methods-text {
            font-family: "Barlow", sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            text-align: left;
            margin-bottom: 10px;
        }

        .card-text {
            //styleName: Body / Normal - Medium;
            font-family: "Barlow", sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 18.2px;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 5px;

        }

        .buttons-div {

            display: flex;
            flex-direction: row;
            margin-top: 100px;
            gap: 20px;
            margin-top: 100px;

            .cancel-button {
                width: 175px;
                height: 48px;
                padding: 14px 14px 14px 14px;
                gap: 8px;
                border-radius: 8px;
                border: 1px;
                background: none;
                border-style: solid;
                border-color: #EA7C69;
                color: #EA7C69;
                cursor: pointer;
                //styleName: Button / Normal - Semibold;
                font-family: "Barlow", sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 19.6px;
                text-align: center;
                transition: transform 0.3s ease, border-color 0.01s ease, background-color 0.3s ease;
                /* Geçiş efekti için animasyon süresi */
            }

            .cancel-button:hover {
                border-color: #f5a091;
                border: solid 2px;
                transform: translateY(3px);
                background-color: #434055;
                /* Y ekseninde 3 piksel aşağıya kaydırma */
            }

            .cancel-button:active {
                border: solid 2px;
                background-color: #1F1D2B;
            }

            .confirm-button {
                width: 175px;
                height: 48px;
                padding: 14px 14px 14px 14px;
                gap: 8px;
                border-radius: 8px;
                border: 1px;
                background: #EA7C69;
                border-style: solid;
                border-color: #EA7C69;
                color: #ffffff;
                cursor: pointer;
                box-shadow: 0px 8px 24px 0px #EA7C6966;
                //styleName: Button / Normal - Semibold;
                font-family: "Barlow", sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 19.6px;
                text-align: center;
                transition: all 0.3s ease;
                /* Geçiş efekti için animasyon süresi */
            }

            .confirm-button:hover {
                background-color: #fd9f8e;
                transform: translateY(3px);
                /* Y ekseninde 3 piksel aşağıya kaydırma */
            }

            .confirm-button:active {
                background-color: #EA7C69;
            }
        }



        .double-form-type {
            display: flex;
            gap: 20px;

            .first-double-type {
                display: flex;
                width: 50%;
                gap: 10px;
                flex-direction: column;
                justify-content: end;

                .half-width-input {
                    width: 100%;
                    height: 48px;
                    border-radius: 8px;
                    border: solid 1px;
                    color: rgb(255, 255, 255);
                    background-color: #2D303E;
                    border-color: #9c9c9c;
                    font-family: "Barlow", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19.6px;
                    text-align: left;
                    padding-left: 15px;
                }

                .half-width-input::placeholder {
                    color: white;
                }

                .card-text {
                    font-size: 16px;
                    display: block;
                }


            }

            .second-double-type {
                display: flex;

                gap: 10px;
            }
        }
    }

    .hidden-menu {
        display: none;
    }

    .right-first-type {
        width: 100%;

        .right-first-type-password {
            width: 100%;
        }
    }

    .left-first-type {
        width: 100%;
    }

    #menu-button {
        width: 100%;
        height: 48px;
        border-radius: 8px;
        border: 1px;

        background: none;
        color: white;

    }

    .right-first-type-number {
        width: 100%;
        height: 48px;
        border-radius: 8px;
        border: 1px;

        background-color: #2D303E;
        color: white;
    }

    .full-width-input {
        width: 100%;
        height: 48px;
        border-radius: 8px;
        border: 1px;
        padding-left: 15px;
        background-color: #2D303E;
        color: white;
        margin: 10px 0px;
    }

    .full-width-input::placeholder {
        color: white;
    }

}

.drop-down-img {
    width: 20px;
    height: 16px;
    margin-left: 10px;
}

/* Dropdown Butonu Stilleri */
#dropdown-btn {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: solid 1px;
    border-color: #9c9c9c;
    background-color: #2D303E;
    color: white;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
}

/* Dropdown İçeriği Stilleri */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Dropdown Açıldığında */
.dropdown-open {
    display: block;
    position: relative;
    top: -10px;
    width: max-content;
}

.payment-form-style {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;

    label {
        cursor: pointer;
    }

    label::after {
        border: solid 1px;
        border-color: #007bff;
    }
}

.payment-photo-options {
    display: flex;
    flex-direction: column;
    width: 101px;
    height: 64px;
    font-size: 14px;
    height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: solid 1px;
    border-radius: 10px;
    border-color: #6f6f6f;
    //styleName: Body / Normal - Medium;
    font-family: "Barlow", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: center;
}

.payment-photo-options.selected {
    border-color: rgb(255, 255, 255); // Seçili olan öğenin border rengi
}


/* CSS Stilleri */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}

input[type="radio"]+label {
    cursor: pointer;
}

/* Seçilen durum için özel stiller */
input[type="radio"]:checked+label::before {
    content: '\2022';
    /* Yuvarlak işareti temsil eden Unicode karakteri */
    font-size: 16px;
    color: #007bff;
    /* Seçilen durumda renk */
    margin-right: 5px;
}

.rest-is-history {
    display: flex;
    flex-direction: column;
}

.only-labels {
    display: flex;
    flex-direction: row;
    gap: 10px;
}



/* CSS Stilleri */

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content.dropdown-open {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

#dropdown-btn {
    background: none;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: solid 1px;
    cursor: pointer;
}

#dropdown-btn:hover,
#dropdown-btn:focus {
    background-color: #3d3953;
}


.dropdown-content.dropdown-open {
    display: flex;
    flex-direction: column;

    button {
        width: 100%;
        height: 48px;
        border: 1px;
        background-color: #2D303E;
        color: white;
    }
}