@import "@/styles/abstracts/variables.scss";

.food-card-box-name {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.food-card-name {
    display: flex;
    flex-direction: column;
    padding: 14px 14px 14px 14px;
    gap: 5px;
}

.food-card-name-title3 {
    font-size: 14px;
}

.food-card-name-price {
    font-size: 12px;
    color: $primary-bg;
    gap: 5px;
}

.food-card-name-quantity {
    border-radius: 8px;
    border: 1px solid $primary-bg;
    background: $primary-bg;
    padding: 14px 14px 14px 14px;

}

.food-card-total-price {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.food-car-total-price-p {
    display: flex;
}

.food-card-ınput {
    background: $primary-bg;
    color: $primary-bg;
    margin-top: 10px;
    width: 250px;
    padding: 15px 14px 15px 14px;
    border-radius: 8px;
    border: none;
    outline: none;

}

.food-card-ınputbuttoncontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.food-card-button {
    border-radius: 8px;
    border: 1px solid $accent-color;
    background-color: transparent;
    padding: 10px;

}