.foodCardBoxName {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.foodCardName {
    display: flex;
    flex-direction: column;
    padding: 14px 14px 14px 14px;
    gap: 5px;
}

.foodCardName-h3 {
    font-size: 14px;
}

.foodCardNameprice {
    font-size: 12px;
    color: #ABBBC2;
    gap: 5px;
}

.foodCardNamequantity {
    border-radius: 8px;
    border: 1px solid #393C49;
    background: #2D303E;
    padding: 14px 14px 14px 14px;

}

.foodCardTotalprice {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.foodCardTotalprice-p {
    display: flex;
}

.foodCardinput {
    background: #2D303E;
    color: #889898;
    margin-top: 10px;
    width: 250px;
    padding: 15px 14px 15px 14px;
    border-radius: 8px;
    border: none;
    outline: none;

}

.foodCardİnputButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.foodCardbutton {
    border-radius: 8px;
    border: 1px solid #EA7C69;
    background-color: transparent;
    padding: 10px;

}