.settings-sidebar-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1F1D2B;
    color: white;
    width: 28%;

    .sidebar-div {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 8px 0px 0px 0px;
        opacity: 0px;
        height: 55px;
        justify-content: center;
        padding-left: 20px;
        gap: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #2D2B3A;
        }

        p {
            padding-left: 25px;
            color: #ABBBC2;
            //styleName: Body / Small - Regular;
            font-family: Barlow, sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: left;

        }

        h3 {
            display: flex;
            justify-content: flex-start;
            font-family: Barlow, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 18.2px;
            text-align: left;


            img {
                width: 15px;
                height: 15px;
                margin-right: 10px;
                position: relative;
                top: 2px;
            }
        }


    }
}